- {% include wowhead-item.html itemId="14799" note="Bloodlust Boots" %}
- {% include wowhead-item.html itemId="14803" note="Bloodlust Belt" %}
- {% include wowhead-item.html itemId="14807" note="Bloodlust Bracelets" %}
- {% include wowhead-item.html itemId="14798" note="Bloodlust Breastplate" %}
- {% include wowhead-item.html itemId="14805" note="Bloodlust Britches" %}
- {% include wowhead-item.html itemId="14800" note="Bloodlust Buckler" %}
- {% include wowhead-item.html itemId="14801" note="Bloodlust Cape" %}
- {% include wowhead-item.html itemId="14802" note="Bloodlust Gauntlets" %}
- {% include wowhead-item.html itemId="14806" note="Bloodlust Epaulets" %}
- {% include wowhead-item.html itemId="14804" note="Bloodlust Helm" %}
