- {% include wowhead-item.html itemId="15436" note="Supreme Bracers" %}
- {% include wowhead-item.html itemId="15442" note="Supreme Breastplate" %}
- {% include wowhead-item.html itemId="15437" note="Supreme Cape" %}
- {% include wowhead-item.html itemId="15439" note="Supreme Crown" %}
- {% include wowhead-item.html itemId="15438" note="Supreme Gloves" %}
- {% include wowhead-item.html itemId="15440" note="Supreme Leggings" %}
- {% include wowhead-item.html itemId="15434" note="Supreme Sash" %}
- {% include wowhead-item.html itemId="15435" note="Supreme Shoes" %}
- {% include wowhead-item.html itemId="15441" note="Supreme Shoulders" %}
