- {% include wowhead-item.html itemId="14587" note="Dokebi Mantle" %}
- {% include wowhead-item.html itemId="14585" note="Dokebi Leggings" %}
- {% include wowhead-item.html itemId="14584" note="Dokebi Hat" %}
- {% include wowhead-item.html itemId="14583" note="Dokebi Gloves" %}
- {% include wowhead-item.html itemId="14578" note="Dokebi Cord" %}
- {% include wowhead-item.html itemId="14581" note="Dokebi Chestguard" %}
- {% include wowhead-item.html itemId="14582" note="Dokebi Cape" %}
- {% include wowhead-item.html itemId="14608" note="Dokebi Buckler" %}
- {% include wowhead-item.html itemId="14580" note="Dokebi Bracers" %}
- {% include wowhead-item.html itemId="14579" note="Dokebi Boots" %}
