- {% include wowhead-item.html itemId="15360" note="Trickster's Bindings" %}
- {% include wowhead-item.html itemId="15362" note="Trickster's Boots" %}
- {% include wowhead-item.html itemId="15364" note="Trickster's Cloak" %}
- {% include wowhead-item.html itemId="132288" note="Trickster's Everburning Flames" %}
- {% include wowhead-item.html itemId="15365" note="Trickster's Handwraps" %}
- {% include wowhead-item.html itemId="15363" note="Trickster's Headdress" %}
- {% include wowhead-item.html itemId="15366" note="Trickster's Leggings" %}
- {% include wowhead-item.html itemId="15368" note="Trickster's Pauldrons" %}
- {% include wowhead-item.html itemId="15367" note="Trickster's Protector" %}
- {% include wowhead-item.html itemId="15361" note="Trickster's Sash" %}
- {% include wowhead-item.html itemId="15359" note="Trickster's Vest" %}