- {% include wowhead-item.html itemId="14236" note="Embersilk Boots" %}
- {% include wowhead-item.html itemId="14226" note="Embersilk Bracelets" %}
- {% include wowhead-item.html itemId="14229" note="Embersilk Cloak" %}
- {% include wowhead-item.html itemId="14235" note="Embersilk Cord" %}
- {% include wowhead-item.html itemId="14228" note="Embersilk Coronet" %}
- {% include wowhead-item.html itemId="14233" note="Embersilk Leggings" %}
- {% include wowhead-item.html itemId="14232" note="Embersilk Mantle" %}
- {% include wowhead-item.html itemId="14231" note="Embersilk Mitts" %}
- {% include wowhead-item.html itemId="14234" note="Embersilk Robes" %}
- {% include wowhead-item.html itemId="14230" note="Embersilk Tunic" %}
