- {% include wowhead-item.html itemId="14958" note="High Chief's Armor" %}
- {% include wowhead-item.html itemId="14960" note="High Chief's Belt" %}
- {% include wowhead-item.html itemId="14965" note="High Chief's Bindings" %}
- {% include wowhead-item.html itemId="14961" note="High Chief's Crown" %}
- {% include wowhead-item.html itemId="14959" note="High Chief's Gauntlets" %}
- {% include wowhead-item.html itemId="14962" note="High Chief's Legguards" %}
- {% include wowhead-item.html itemId="14963" note="High Chief's Pauldrons" %}
- {% include wowhead-item.html itemId="14957" note="High Chief's Sabatons" %}
- {% include wowhead-item.html itemId="14964" note="High Chief's Shield" %}