
- {% include wowhead-item.html itemId="15571" note="Marauder's Belt" %}
- {% include wowhead-item.html itemId="15565" note="Marauder's Boots" %}
- {% include wowhead-item.html itemId="15566" note="Marauder's Bracers" %}
- {% include wowhead-item.html itemId="15572" note="Marauder's Circlet" %}
- {% include wowhead-item.html itemId="15568" note="Marauder's Cloak" %}
- {% include wowhead-item.html itemId="15569" note="Marauder's Crest" %}
- {% include wowhead-item.html itemId="15570" note="Marauder's Gauntlets" %}
- {% include wowhead-item.html itemId="15573" note="Marauder's Leggings" %}
- {% include wowhead-item.html itemId="15574" note="Marauder's Shoulder Pads" %}
- {% include wowhead-item.html itemId="15567" note="Marauder's Tunic" %}