- {% include wowhead-item.html itemId="14923" note="Lofty Armguards" %}
- {% include wowhead-item.html itemId="14927" note="Lofty Belt" %}
- {% include wowhead-item.html itemId="14924" note="Lofty Breastplate" %}
- {% include wowhead-item.html itemId="14926" note="Lofty Gauntlets" %}
- {% include wowhead-item.html itemId="14925" note="Lofty Helm" %}
- {% include wowhead-item.html itemId="14928" note="Lofty Legguards" %}
- {% include wowhead-item.html itemId="14922" note="Lofty Sabatons" %}
- {% include wowhead-item.html itemId="14930" note="Lofty Shield" %}
- {% include wowhead-item.html itemId="14929" note="Lofty Shoulder Pads" %}