- {% include wowhead-item.html itemId="15606" note="Ancient Belt" %}
- {% include wowhead-item.html itemId="15601" note="Ancient Chestpiece" %}
- {% include wowhead-item.html itemId="15603" note="Ancient Cloak" %}
- {% include wowhead-item.html itemId="15602" note="Ancient Crown" %}
- {% include wowhead-item.html itemId="15604" note="Ancient Defender" %}
- {% include wowhead-item.html itemId="15605" note="Ancient Gauntlets" %}
- {% include wowhead-item.html itemId="15599" note="Ancient Greaves" %}
- {% include wowhead-item.html itemId="15607" note="Ancient Legguards" %}
- {% include wowhead-item.html itemId="15608" note="Ancient Pauldrons" %}
- {% include wowhead-item.html itemId="15600" note="Ancient Vambraces" %}