- {% include wowhead-item.html itemId="14794" note="Protector Ankleguards" %}
- {% include wowhead-item.html itemId="14788" note="Protector Armguards" %}
- {% include wowhead-item.html itemId="14789" note="Protector Breastplate" %}
- {% include wowhead-item.html itemId="14790" note="Protector Buckler" %}
- {% include wowhead-item.html itemId="14791" note="Protector Cape" %}
- {% include wowhead-item.html itemId="14792" note="Protector Gauntlets" %}
- {% include wowhead-item.html itemId="14795" note="Protector Helm" %}
- {% include wowhead-item.html itemId="14796" note="Protector Legguards" %}
- {% include wowhead-item.html itemId="14797" note="Protector Pads" %}
- {% include wowhead-item.html itemId="14793" note="Protector Waistband" %}