- {% include wowhead-item.html itemId="14827" note="Symbolic Belt" %}
- {% include wowhead-item.html itemId="14821" note="Symbolic Breastplate" %}
- {% include wowhead-item.html itemId="14825" note="Symbolic Crest" %}
- {% include wowhead-item.html itemId="14831" note="Symbolic Crown" %}
- {% include wowhead-item.html itemId="14826" note="Symbolic Gauntlets" %}
- {% include wowhead-item.html itemId="14828" note="Symbolic Greaves" %}
- {% include wowhead-item.html itemId="14829" note="Symbolic Legplates" %}
- {% include wowhead-item.html itemId="14830" note="Symbolic Pauldrons" %}
- {% include wowhead-item.html itemId="14832" note="Symbolic Vambraces" %}