- {% include wowhead-item.html itemId="15515" note="Spiked Chain Belt" %}
- {% include wowhead-item.html itemId="15518" note="Spiked Chain Breastplate" %}
- {% include wowhead-item.html itemId="15519" note="Spiked Chain Cloak" %}
- {% include wowhead-item.html itemId="15520" note="Spiked Chain Gauntlets" %}
- {% include wowhead-item.html itemId="15521" note="Spiked Chain Leggings" %}
- {% include wowhead-item.html itemId="15522" note="Spiked Chain Shield" %}
- {% include wowhead-item.html itemId="15523" note="Spiked Chain Shoulder Pads" %}
- {% include wowhead-item.html itemId="15516" note="Spiked Chain Slippers" %}
- {% include wowhead-item.html itemId="15517" note="Spiked Chain Wristbands" %}
