- {% include wowhead-item.html itemId="14752" note="Slayer's Cape" %}
- {% include wowhead-item.html itemId="14750" note="Slayer's Cuffs" %}
- {% include wowhead-item.html itemId="14754" note="Slayer's Gloves" %}
- {% include wowhead-item.html itemId="14757" note="Slayer's Pants" %}
- {% include wowhead-item.html itemId="14755" note="Slayer's Sash" %}
- {% include wowhead-item.html itemId="15892" note="Slayer's Shield" %}
- {% include wowhead-item.html itemId="14758" note="Slayer's Shoulderguards" %}
- {% include wowhead-item.html itemId="14753" note="Slayer's Skullcap" %}
- {% include wowhead-item.html itemId="14756" note="Slayer's Slippers" %}
- {% include wowhead-item.html itemId="14751" note="Slayer's Surcoat" %}