- {% include wowhead-item.html itemId="14399" note="Resilient Boots" %}
- {% include wowhead-item.html itemId="14401" note="Resilient Cap" %}
- {% include wowhead-item.html itemId="14400" note="Resilient Cape" %}
- {% include wowhead-item.html itemId="14406" note="Resilient Cord" %}
- {% include wowhead-item.html itemId="14403" note="Resilient Handgrips" %}
- {% include wowhead-item.html itemId="14404" note="Resilient Leggings" %}
- {% include wowhead-item.html itemId="14397" note="Resilient Mantle" %}
- {% include wowhead-item.html itemId="14405" note="Resilient Robe" %}
- {% include wowhead-item.html itemId="14398" note="Resilient Tunic" %}