- {% include wowhead-item.html itemId="6395" note="Silver-Thread Amice" %}
- {% include wowhead-item.html itemId="7110" note="Silver-Thread Armor" %}
- {% include wowhead-item.html itemId="6394" note="Silver-Thread Boots" %}
- {% include wowhead-item.html itemId="4713" note="Silver-Thread Cloak" %}
- {% include wowhead-item.html itemId="4036" note="Silver-Thread Cuffs" %}
- {% include wowhead-item.html itemId="6393" note="Silver-Thread Gloves" %}
- {% include wowhead-item.html itemId="4037" note="Silver-Thread Pants" %}
- {% include wowhead-item.html itemId="4035" note="Silver-Thread Robe" %}
- {% include wowhead-item.html itemId="15928" note="Silver-Thread Rod" %}
- {% include wowhead-item.html itemId="4714" note="Silver-Thread Sash" %}