- {% include wowhead-item.html itemId="7407" note="Infiltrator Armor" %}
- {% include wowhead-item.html itemId="7409" note="Infiltrator Boots" %}
- {% include wowhead-item.html itemId="7410" note="Infiltrator Bracers" %}
- {% include wowhead-item.html itemId="7330" note="Infiltrator Buckler" %}
- {% include wowhead-item.html itemId="7413" note="Infiltrator Cap" %}
- {% include wowhead-item.html itemId="7411" note="Infiltrator Cloak" %}
- {% include wowhead-item.html itemId="7406" note="Infiltrator Cord" %}
- {% include wowhead-item.html itemId="7412" note="Infiltrator Gloves" %}
- {% include wowhead-item.html itemId="7414" note="Infiltrator Pants" %}
- {% include wowhead-item.html itemId="7408" note="Infiltrator Shoulders" %}
