- {% include wowhead-item.html itemId="10404" note="Durable Belt" %}
- {% include wowhead-item.html itemId="9820" note="Durable Boots" %}
- {% include wowhead-item.html itemId="9821" note="Durable Bracers" %}
- {% include wowhead-item.html itemId="9822" note="Durable Cape" %}
- {% include wowhead-item.html itemId="9823" note="Durable Gloves" %}
- {% include wowhead-item.html itemId="10289" note="Durable Hat" %}
- {% include wowhead-item.html itemId="9825" note="Durable Pants" %}
- {% include wowhead-item.html itemId="9826" note="Durable Robe" %}
- {% include wowhead-item.html itemId="15935" note="Durable Rod" %}
- {% include wowhead-item.html itemId="9824" note="Durable Shoulders" %}
- {% include wowhead-item.html itemId="9819" note="Durable Tunic" %}