- {% include wowhead-item.html itemId="6387" note="Glimmering Mail Bracers" %}
- {% include wowhead-item.html itemId="4071" note="Glimmering Mail Breastplate" %}
- {% include wowhead-item.html itemId="6389" note="Glimmering Mail Coif" %}
- {% include wowhead-item.html itemId="4072" note="Glimmering Mail Gauntlets" %}
- {% include wowhead-item.html itemId="4712" note="Glimmering Mail Girdle" %}
- {% include wowhead-item.html itemId="4073" note="Glimmering Mail Greaves" %}
- {% include wowhead-item.html itemId="6386" note="Glimmering Mail Legguards" %}
- {% include wowhead-item.html itemId="6388" note="Glimmering Mail Pauldrons" %}
