- {% include wowhead-item.html itemId="14847" note="Sunscale Belt" %}
- {% include wowhead-item.html itemId="14844" note="Sunscale Chestguard" %}
- {% include wowhead-item.html itemId="59549" note="Sunscale Cloak" %}
- {% include wowhead-item.html itemId="14846" note="Sunscale Gauntlets" %}
- {% include wowhead-item.html itemId="14849" note="Sunscale Helmet" %}
- {% include wowhead-item.html itemId="14850" note="Sunscale Legplates" %}
- {% include wowhead-item.html itemId="14848" note="Sunscale Sabatons" %}
- {% include wowhead-item.html itemId="14852" note="Sunscale Shield" %}
- {% include wowhead-item.html itemId="14851" note="Sunscale Spaulders" %}
- {% include wowhead-item.html itemId="14853" note="Sunscale Wristguards" %}