- {% include wowhead-item.html itemId="15590" note="Steadfast Bracelets" %}
- {% include wowhead-item.html itemId="15591" note="Steadfast Breastplate" %}
- {% include wowhead-item.html itemId="15592" note="Steadfast Buckler" %}
- {% include wowhead-item.html itemId="15594" note="Steadfast Cloak" %}
- {% include wowhead-item.html itemId="15593" note="Steadfast Coronet" %}
- {% include wowhead-item.html itemId="15598" note="Steadfast Girdle" %}
- {% include wowhead-item.html itemId="15595" note="Steadfast Gloves" %}
- {% include wowhead-item.html itemId="15596" note="Steadfast Legplates" %}
- {% include wowhead-item.html itemId="15597" note="Steadfast Shoulders" %}
- {% include wowhead-item.html itemId="15589" note="Steadfast Stompers" %}