- {% include wowhead-item.html itemId="15121" note="Robust Boots" %}
- {% include wowhead-item.html itemId="15122" note="Robust Bracers" %}
- {% include wowhead-item.html itemId="15123" note="Robust Buckler" %}
- {% include wowhead-item.html itemId="15124" note="Robust Cloak" %}
- {% include wowhead-item.html itemId="15120" note="Robust Girdle" %}
- {% include wowhead-item.html itemId="15125" note="Robust Gloves" %}
- {% include wowhead-item.html itemId="15129" note="Robust Helm" %}
- {% include wowhead-item.html itemId="15126" note="Robust Leggings" %}
- {% include wowhead-item.html itemId="15127" note="Robust Shoulders" %}
- {% include wowhead-item.html itemId="15128" note="Robust Tunic" %}