- {% include wowhead-item.html itemId="10368" note="Imbued Plate Armor" %}
- {% include wowhead-item.html itemId="10369" note="Imbued Plate Gauntlets" %}
- {% include wowhead-item.html itemId="10370" note="Imbued Plate Girdle" %}
- {% include wowhead-item.html itemId="10371" note="Imbued Plate Greaves" %}
- {% include wowhead-item.html itemId="10372" note="Imbued Plate Helmet" %}
- {% include wowhead-item.html itemId="10373" note="Imbued Plate Leggings" %}
- {% include wowhead-item.html itemId="10374" note="Imbued Plate Pauldrons" %}
- {% include wowhead-item.html itemId="10375" note="Imbued Plate Vambraces" %}