- {% include wowhead-item.html itemId="14834" note="Tyrant's Armguards" %}
- {% include wowhead-item.html itemId="14838" note="Tyrant's Belt" %}
- {% include wowhead-item.html itemId="14835" note="Tyrant's Chestpiece" %}
- {% include wowhead-item.html itemId="14841" note="Tyrant's Epaulets" %}
- {% include wowhead-item.html itemId="14833" note="Tyrant's Gauntlets" %}
- {% include wowhead-item.html itemId="14839" note="Tyrant's Greaves" %}
- {% include wowhead-item.html itemId="14843" note="Tyrant's Helm" %}
- {% include wowhead-item.html itemId="14840" note="Tyrant's Legplates" %}
- {% include wowhead-item.html itemId="14842" note="Tyrant's Shield" %}