- {% include wowhead-item.html itemId="14664" note="Keeper's Armor" %}
- {% include wowhead-item.html itemId="14663" note="Keeper's Bindings" %}
- {% include wowhead-item.html itemId="14665" note="Keeper's Cloak" %}
- {% include wowhead-item.html itemId="14661" note="Keeper's Cord" %}
- {% include wowhead-item.html itemId="14666" note="Keeper's Gloves" %}
- {% include wowhead-item.html itemId="14662" note="Keeper's Hooves" %}
- {% include wowhead-item.html itemId="14669" note="Keeper's Mantle" %}
- {% include wowhead-item.html itemId="39444" note="Keeper's Touch" %}
- {% include wowhead-item.html itemId="14668" note="Keeper's Woolies" %}
- {% include wowhead-item.html itemId="14667" note="Keeper's Wreath" %}