- {% include wowhead-item.html itemId="6592" note="Battleforge Armor" %}
- {% include wowhead-item.html itemId="6590" note="Battleforge Boots" %}
- {% include wowhead-item.html itemId="6593" note="Battleforge Cloak" %}
- {% include wowhead-item.html itemId="6595" note="Battleforge Gauntlets" %}
- {% include wowhead-item.html itemId="6594" note="Battleforge Girdle" %}
- {% include wowhead-item.html itemId="6596" note="Battleforge Legguards" %}
- {% include wowhead-item.html itemId="6599" note="Battleforge Shield" %}
- {% include wowhead-item.html itemId="6597" note="Battleforge Shoulderguards" %}
- {% include wowhead-item.html itemId="6591" note="Battleforge Wristguards" %}
