- {% include wowhead-item.html itemId="6612" note="Sage's Boots" %}
- {% include wowhead-item.html itemId="6613" note="Sage's Bracers" %}
- {% include wowhead-item.html itemId="10288" note="Sage's Circlet" %}
- {% include wowhead-item.html itemId="6614" note="Sage's Cloak" %}
- {% include wowhead-item.html itemId="6609" note="Sage's Cloth" %}
- {% include wowhead-item.html itemId="6615" note="Sage's Gloves" %}
- {% include wowhead-item.html itemId="6617" note="Sage's Mantle" %}
- {% include wowhead-item.html itemId="6616" note="Sage's Pants" %}
- {% include wowhead-item.html itemId="6610" note="Sage's Robe" %}
- {% include wowhead-item.html itemId="6611" note="Sage's Sash" %}
- {% include wowhead-item.html itemId="15934" note="Sage's Stave" %}