- {% include wowhead-item.html itemId="14983" note="Exalted Armsplints" %}
- {% include wowhead-item.html itemId="14983" note="Exalted Armsplints" %}
- {% include wowhead-item.html itemId="14976" note="Exalted Gauntlets" %}
- {% include wowhead-item.html itemId="14977" note="Exalted Girdle" %}
- {% include wowhead-item.html itemId="14975" note="Exalted Harness" %}
- {% include wowhead-item.html itemId="14979" note="Exalted Helmet" %}
- {% include wowhead-item.html itemId="14980" note="Exalted Legplates" %}
- {% include wowhead-item.html itemId="14978" note="Exalted Sabatons" %}
- {% include wowhead-item.html itemId="14982" note="Exalted Shield" %}