- {% include wowhead-item.html itemId="14670" note="Pridelord Armor" %}
- {% include wowhead-item.html itemId="14672" note="Pridelord Bands" %}
- {% include wowhead-item.html itemId="14671" note="Pridelord Boots" %}
- {% include wowhead-item.html itemId="14673" note="Pridelord Cape" %}
- {% include wowhead-item.html itemId="14674" note="Pridelord Girdle" %}
- {% include wowhead-item.html itemId="14675" note="Pridelord Gloves" %}
- {% include wowhead-item.html itemId="14676" note="Pridelord Halo" %}
- {% include wowhead-item.html itemId="14677" note="Pridelord Pants" %}
- {% include wowhead-item.html itemId="14678" note="Pridelord Pauldrons" %}