- {% include wowhead-item.html itemId="15534" note="Wicked Chain Boots" %}
- {% include wowhead-item.html itemId="15535" note="Wicked Chain Bracers" %}
- {% include wowhead-item.html itemId="15536" note="Wicked Chain Chestpiece" %}
- {% include wowhead-item.html itemId="15537" note="Wicked Chain Cloak" %}
- {% include wowhead-item.html itemId="15538" note="Wicked Chain Gauntlets" %}
- {% include wowhead-item.html itemId="15540" note="Wicked Chain Helmet" %}
- {% include wowhead-item.html itemId="15541" note="Wicked Chain Legguards" %}
- {% include wowhead-item.html itemId="15543" note="Wicked Chain Shield" %}
- {% include wowhead-item.html itemId="15542" note="Wicked Chain Shoulder Pads" %}
- {% include wowhead-item.html itemId="15539" note="Wicked Chain Waistband" %}