- {% include wowhead-item.html itemId="9836" note="Banded Armor" %}
- {% include wowhead-item.html itemId="10409" note="Banded Boots" %}
- {% include wowhead-item.html itemId="9837" note="Banded Bracers" %}
- {% include wowhead-item.html itemId="35846" note="Banded Chain Gloves" %}
- {% include wowhead-item.html itemId="9838" note="Banded Cloak" %}
- {% include wowhead-item.html itemId="9839" note="Banded Gauntlets" %}
- {% include wowhead-item.html itemId="9840" note="Banded Girdle" %}
- {% include wowhead-item.html itemId="10408" note="Banded Helm" %}
- {% include wowhead-item.html itemId="9841" note="Banded Leggings" %}
- {% include wowhead-item.html itemId="9842" note="Banded Pauldrons" %}
- {% include wowhead-item.html itemId="9843" note="Banded Shield" %}