- {% include wowhead-item.html itemId="15679" note="Triumphant Bracers" %}
- {% include wowhead-item.html itemId="15680" note="Triumphant Chestpiece" %}
- {% include wowhead-item.html itemId="15681" note="Triumphant Cloak" %}
- {% include wowhead-item.html itemId="15682" note="Triumphant Gauntlets" %}
- {% include wowhead-item.html itemId="15683" note="Triumphant Girdle" %}
- {% include wowhead-item.html itemId="15685" note="Triumphant Legplates" %}
- {% include wowhead-item.html itemId="15678" note="Triumphant Sabatons" %}
- {% include wowhead-item.html itemId="15687" note="Triumphant Shield" %}
- {% include wowhead-item.html itemId="15686" note="Triumphant Shoulder Pads" %}
- {% include wowhead-item.html itemId="15684" note="Triumphant Skullcap" %}