- {% include wowhead-item.html itemId="15181" note="Praetorian Boots" %}
- {% include wowhead-item.html itemId="15183" note="Praetorian Cloak" %}
- {% include wowhead-item.html itemId="15185" note="Praetorian Coif" %}
- {% include wowhead-item.html itemId="15180" note="Praetorian Girdle" %}
- {% include wowhead-item.html itemId="15184" note="Praetorian Gloves" %}
- {% include wowhead-item.html itemId="15186" note="Praetorian Leggings" %}
- {% include wowhead-item.html itemId="15179" note="Praetorian Padded Armor" %}
- {% include wowhead-item.html itemId="15187" note="Praetorian Pauldrons" %}
- {% include wowhead-item.html itemId="15182" note="Praetorian Wristbands" %}