- {% include wowhead-item.html itemId="14259" note="Bloodwoven Boots" %}
- {% include wowhead-item.html itemId="14260" note="Bloodwoven Bracers" %}
- {% include wowhead-item.html itemId="14261" note="Bloodwoven Cloak" %}
- {% include wowhead-item.html itemId="14258" note="Bloodwoven Cord" %}
- {% include wowhead-item.html itemId="14267" note="Bloodwoven Jerkin" %}
- {% include wowhead-item.html itemId="14263" note="Bloodwoven Mask" %}
- {% include wowhead-item.html itemId="14262" note="Bloodwoven Mitts" %}
- {% include wowhead-item.html itemId="14266" note="Bloodwoven Pads" %}
- {% include wowhead-item.html itemId="14264" note="Bloodwoven Pants" %}
- {% include wowhead-item.html itemId="15982" note="Bloodwoven Rod" %}
- {% include wowhead-item.html itemId="14265" note="Bloodwoven Wraps" %}