- {% include wowhead-item.html itemId="14439" note="Venomshroud Armguards" %}
- {% include wowhead-item.html itemId="14446" note="Venomshroud Belt" %}
- {% include wowhead-item.html itemId="14438" note="Venomshroud Boots" %}
- {% include wowhead-item.html itemId="14440" note="Venomshroud Cape" %}
- {% include wowhead-item.html itemId="14444" note="Venomshroud Leggings" %}
- {% include wowhead-item.html itemId="14443" note="Venomshroud Mantle" %}
- {% include wowhead-item.html itemId="14441" note="Venomshroud Mask" %}
- {% include wowhead-item.html itemId="14442" note="Venomshroud Mitts" %}
- {% include wowhead-item.html itemId="15966" note="Venomshroud Orb" %}
- {% include wowhead-item.html itemId="14445" note="Venomshroud Silk Robes" %}
- {% include wowhead-item.html itemId="14437" note="Venomshroud Vest" %}