- {% include wowhead-item.html itemId="14810" note="Warstrike Armsplints" %}
- {% include wowhead-item.html itemId="14808" note="Warstrike Belt" %}
- {% include wowhead-item.html itemId="14812" note="Warstrike Buckler" %}
- {% include wowhead-item.html itemId="14813" note="Warstrike Cape" %}
- {% include wowhead-item.html itemId="14811" note="Warstrike Chestguard" %}
- {% include wowhead-item.html itemId="14815" note="Warstrike Gauntlets" %}
- {% include wowhead-item.html itemId="14814" note="Warstrike Helmet" %}
- {% include wowhead-item.html itemId="14816" note="Warstrike Legguards" %}
- {% include wowhead-item.html itemId="14809" note="Warstrike Sabatons" %}
- {% include wowhead-item.html itemId="14817" note="Warstrike Shoulder Pads" %}
