- {% include wowhead-item.html itemId="14327" note="Resplendent Belt" %}
- {% include wowhead-item.html itemId="14319" note="Resplendent Boots" %}
- {% include wowhead-item.html itemId="14320" note="Resplendent Bracelets" %}
- {% include wowhead-item.html itemId="14322" note="Resplendent Circlet" %}
- {% include wowhead-item.html itemId="14321" note="Resplendent Cloak" %}
- {% include wowhead-item.html itemId="14325" note="Resplendent Epaulets" %}
- {% include wowhead-item.html itemId="14323" note="Resplendent Gauntlets" %}
- {% include wowhead-item.html itemId="14326" note="Resplendent Robes" %}
- {% include wowhead-item.html itemId="14324" note="Resplendent Sarong" %}
- {% include wowhead-item.html itemId="14318" note="Resplendent Tunic" %}