- {% include wowhead-item.html itemId="15654" note="Merciless Belt" %}
- {% include wowhead-item.html itemId="15649" note="Merciless Bracers" %}
- {% include wowhead-item.html itemId="15652" note="Merciless Cloak" %}
- {% include wowhead-item.html itemId="15651" note="Merciless Crown" %}
- {% include wowhead-item.html itemId="15656" note="Merciless Epaulets" %}
- {% include wowhead-item.html itemId="15653" note="Merciless Gauntlets" %}
- {% include wowhead-item.html itemId="15694" note="Merciless Greaves" %}
- {% include wowhead-item.html itemId="15655" note="Merciless Legguards" %}
- {% include wowhead-item.html itemId="15657" note="Merciless Shield" %}
- {% include wowhead-item.html itemId="15650" note="Merciless Surcoat" %}