- {% include wowhead-item.html itemId="14218" note="Geomancer's Boots" %}
- {% include wowhead-item.html itemId="14221" note="Geomancer's Bracers" %}
- {% include wowhead-item.html itemId="14220" note="Geomancer's Cap" %}
- {% include wowhead-item.html itemId="14219" note="Geomancer's Cloak" %}
- {% include wowhead-item.html itemId="14217" note="Geomancer's Cord" %}
- {% include wowhead-item.html itemId="14222" note="Geomancer's Gloves" %}
- {% include wowhead-item.html itemId="14216" note="Geomancer's Jerkin" %}
- {% include wowhead-item.html itemId="61465" note="Geomancer's Mace" %}
- {% include wowhead-item.html itemId="15978" note="Geomancer's Rod" %}
- {% include wowhead-item.html itemId="14223" note="Geomancer's Spaulders" %}
- {% include wowhead-item.html itemId="14224" note="Geomancer's Trousers" %}
- {% include wowhead-item.html itemId="14225" note="Geomancer's Wraps" %}
