- {% include wowhead-item.html itemId="15347" note="Pathfinder Belt" %}
- {% include wowhead-item.html itemId="15348" note="Pathfinder Bracers" %}
- {% include wowhead-item.html itemId="15340" note="Pathfinder Cloak" %}
- {% include wowhead-item.html itemId="15341" note="Pathfinder Footpads" %}
- {% include wowhead-item.html itemId="15343" note="Pathfinder Gloves" %}
- {% include wowhead-item.html itemId="15342" note="Pathfinder Guard" %}
- {% include wowhead-item.html itemId="15339" note="Pathfinder Hat" %}
- {% include wowhead-item.html itemId="15344" note="Pathfinder Pants" %}
- {% include wowhead-item.html itemId="15345" note="Pathfinder Shoulder Pads" %}
- {% include wowhead-item.html itemId="15346" note="Pathfinder Vest" %}