- {% include wowhead-item.html itemId="14950" note="Bloodforged Belt" %}
- {% include wowhead-item.html itemId="14956" note="Bloodforged Bindings" %}
- {% include wowhead-item.html itemId="14948" note="Bloodforged Chestpiece" %}
- {% include wowhead-item.html itemId="14949" note="Bloodforged Gauntlets" %}
- {% include wowhead-item.html itemId="14952" note="Bloodforged Helmet" %}
- {% include wowhead-item.html itemId="14953" note="Bloodforged Legplates" %}
- {% include wowhead-item.html itemId="14951" note="Bloodforged Sabatons" %}
- {% include wowhead-item.html itemId="14954" note="Bloodforged Shield" %}
- {% include wowhead-item.html itemId="14955" note="Bloodforged Shoulder Pads" %}