- {% include wowhead-item.html itemId="14195" note="Raincaller Boots" %}
- {% include wowhead-item.html itemId="14189" note="Raincaller Cap" %}
- {% include wowhead-item.html itemId="14188" note="Raincaller Cloak" %}
- {% include wowhead-item.html itemId="14194" note="Raincaller Cord" %}
- {% include wowhead-item.html itemId="14187" note="Raincaller Cuffs" %}
- {% include wowhead-item.html itemId="14186" note="Raincaller Mantle" %}
- {% include wowhead-item.html itemId="14191" note="Raincaller Mitts" %}
- {% include wowhead-item.html itemId="14193" note="Raincaller Pants" %}
- {% include wowhead-item.html itemId="14192" note="Raincaller Robes" %}
- {% include wowhead-item.html itemId="15975" note="Raincaller Scepter" %}
- {% include wowhead-item.html itemId="14190" note="Raincaller Vest" %}