- {% include wowhead-item.html itemId="15673" note="Magnificent Belt" %}
- {% include wowhead-item.html itemId="15669" note="Magnificent Breastplate" %}
- {% include wowhead-item.html itemId="15671" note="Magnificent Cloak" %}
- {% include wowhead-item.html itemId="15672" note="Magnificent Gauntlets" %}
- {% include wowhead-item.html itemId="15674" note="Magnificent Greaves" %}
- {% include wowhead-item.html itemId="15675" note="Magnificent Guard" %}
- {% include wowhead-item.html itemId="15670" note="Magnificent Helmet" %}
- {% include wowhead-item.html itemId="15676" note="Magnificent Leggings" %}
- {% include wowhead-item.html itemId="15677" note="Magnificent Shoulders" %}