- {% include wowhead-item.html itemId="14854" note="Vanguard Breastplate" %}
- {% include wowhead-item.html itemId="134579" note="Vanguard Cape" %}
- {% include wowhead-item.html itemId="134605" note="Vanguard Cloak" %}
- {% include wowhead-item.html itemId="134587" note="Vanguard Drape" %}
- {% include wowhead-item.html itemId="14855" note="Vanguard Gauntlets" %}
- {% include wowhead-item.html itemId="14856" note="Vanguard Girdle" %}
- {% include wowhead-item.html itemId="14858" note="Vanguard Headdress" %}
- {% include wowhead-item.html itemId="14859" note="Vanguard Legplates" %}
- {% include wowhead-item.html itemId="14860" note="Vanguard Pauldrons" %}
- {% include wowhead-item.html itemId="14857" note="Vanguard Sabatons" %}
- {% include wowhead-item.html itemId="14861" note="Vanguard Vambraces" %}