- {% include wowhead-item.html itemId="15433" note="Peerless Armor" %}
- {% include wowhead-item.html itemId="15428" note="Peerless Belt" %}
- {% include wowhead-item.html itemId="15426" note="Peerless Boots" %}
- {% include wowhead-item.html itemId="15425" note="Peerless Bracers" %}
- {% include wowhead-item.html itemId="15427" note="Peerless Cloak" %}
- {% include wowhead-item.html itemId="15429" note="Peerless Gloves" %}
- {% include wowhead-item.html itemId="15430" note="Peerless Headband" %}
- {% include wowhead-item.html itemId="15431" note="Peerless Leggings" %}
- {% include wowhead-item.html itemId="15432" note="Peerless Shoulders" %}
