- {% include wowhead-item.html itemId="10211" note="Elegant Boots" %}
- {% include wowhead-item.html itemId="10213" note="Elegant Bracers" %}
- {% include wowhead-item.html itemId="10219" note="Elegant Circlet" %}
- {% include wowhead-item.html itemId="10212" note="Elegant Cloak" %}
- {% include wowhead-item.html itemId="10214" note="Elegant Gloves" %}
- {% include wowhead-item.html itemId="10217" note="Elegant Leggings" %}
- {% include wowhead-item.html itemId="10210" note="Elegant Mantle" %}
- {% include wowhead-item.html itemId="10215" note="Elegant Robes" %}
- {% include wowhead-item.html itemId="15940" note="Elegant Scepter" %}
- {% include wowhead-item.html itemId="10218" note="Elegant Tunic" %}