- {% include wowhead-item.html itemId="14864" note="Warleader's Belt" %}
- {% include wowhead-item.html itemId="14869" note="Warleader's Bracers" %}
- {% include wowhead-item.html itemId="14862" note="Warleader's Breastplate" %}
- {% include wowhead-item.html itemId="14866" note="Warleader's Crown" %}
- {% include wowhead-item.html itemId="14863" note="Warleader's Gauntlets" %}
- {% include wowhead-item.html itemId="14865" note="Warleader's Greaves" %}
- {% include wowhead-item.html itemId="14867" note="Warleader's Leggings" %}
- {% include wowhead-item.html itemId="15991" note="Warleader's Shield" %}
- {% include wowhead-item.html itemId="14868" note="Warleader's Shoulders" %}