
- {% include wowhead-item.html itemId="15532" note="Sentry's Armsplints" %}
- {% include wowhead-item.html itemId="15526" note="Sentry's Cape" %}
- {% include wowhead-item.html itemId="15527" note="Sentry's Gloves" %}
- {% include wowhead-item.html itemId="15533" note="Sentry's Headdress" %}
- {% include wowhead-item.html itemId="15529" note="Sentry's Leggings" %}
- {% include wowhead-item.html itemId="15528" note="Sentry's Sash" %}
- {% include wowhead-item.html itemId="15530" note="Sentry's Shield" %}
- {% include wowhead-item.html itemId="15531" note="Sentry's Shoulderguards" %}
- {% include wowhead-item.html itemId="15525" note="Sentry's Slippers" %}
- {% include wowhead-item.html itemId="15524" note="Sentry's Surcoat" %}