- {% include wowhead-item.html itemId="14286" note="Opulent Belt" %}
- {% include wowhead-item.html itemId="14285" note="Opulent Boots" %}
- {% include wowhead-item.html itemId="14281" note="Opulent Crown" %}
- {% include wowhead-item.html itemId="14282" note="Opulent Gloves" %}
- {% include wowhead-item.html itemId="14283" note="Opulent Leggings" %}
- {% include wowhead-item.html itemId="14278" note="Opulent Mantle" %}
- {% include wowhead-item.html itemId="14284" note="Opulent Robes" %}
- {% include wowhead-item.html itemId="15984" note="Opulent Scepter" %}
- {% include wowhead-item.html itemId="14287" note="Opulent Tunic" %}