- {% include wowhead-item.html itemId="15388" note="Jadefire Belt" %}
- {% include wowhead-item.html itemId="15387" note="Jadefire Bracelets" %}
- {% include wowhead-item.html itemId="15391" note="Jadefire Cap" %}
- {% include wowhead-item.html itemId="15390" note="Jadefire Chestguard" %}
- {% include wowhead-item.html itemId="15395" note="Jadefire Epaulets" %}
- {% include wowhead-item.html itemId="15393" note="Jadefire Gloves" %}
- {% include wowhead-item.html itemId="15394" note="Jadefire Pants" %}
- {% include wowhead-item.html itemId="15389" note="Jadefire Sabatons" %}
