- {% include wowhead-item.html itemId="14903" note="Saltstone Armsplints" %}
- {% include wowhead-item.html itemId="14897" note="Saltstone Gauntlets" %}
- {% include wowhead-item.html itemId="14898" note="Saltstone Girdle" %}
- {% include wowhead-item.html itemId="14899" note="Saltstone Helm" %}
- {% include wowhead-item.html itemId="14900" note="Saltstone LegChains" %}
- {% include wowhead-item.html itemId="14896" note="Saltstone Sabatons" %}
- {% include wowhead-item.html itemId="14902" note="Saltstone Shield" %}
- {% include wowhead-item.html itemId="14901" note="Saltstone Shoulder Pads" %}
- {% include wowhead-item.html itemId="14895" note="Saltstone Surcoat" %}