- {% include wowhead-item.html itemId="15609" note="Bonelink Armor" %}
- {% include wowhead-item.html itemId="15613" note="Bonelink Belt" %}
- {% include wowhead-item.html itemId="15610" note="Bonelink Bracers" %}
- {% include wowhead-item.html itemId="15611" note="Bonelink Cape" %}
- {% include wowhead-item.html itemId="15617" note="Bonelink Epaulets" %}
- {% include wowhead-item.html itemId="15612" note="Bonelink Gauntlets" %}
- {% include wowhead-item.html itemId="15615" note="Bonelink Helmet" %}
- {% include wowhead-item.html itemId="15616" note="Bonelink Legplates" %}
- {% include wowhead-item.html itemId="15614" note="Bonelink Sabatons" %}
- {% include wowhead-item.html itemId="15618" note="Bonelink Wall Shield" %}