- {% include wowhead-item.html itemId="14176" note="Watcher's Boots" %}
- {% include wowhead-item.html itemId="14178" note="Watcher's Cap" %}
- {% include wowhead-item.html itemId="14179" note="Watcher's Cape" %}
- {% include wowhead-item.html itemId="14185" note="Watcher's Cinch" %}
- {% include wowhead-item.html itemId="14177" note="Watcher's Cuffs" %}
- {% include wowhead-item.html itemId="14181" note="Watcher's Handwraps" %}
- {% include wowhead-item.html itemId="14180" note="Watcher's Jerkin" %}
- {% include wowhead-item.html itemId="14183" note="Watcher's Leggings" %}
- {% include wowhead-item.html itemId="14182" note="Watcher's Mantle" %}
- {% include wowhead-item.html itemId="14184" note="Watcher's Robes" %}
- {% include wowhead-item.html itemId="15973" note="Watcher's Star" %}