- {% include wowhead-item.html itemId="868" note="Ardent Custodian" %}
- {% include wowhead-item.html itemId="1169" note="Blackskull Shield" %}
- {% include wowhead-item.html itemId="14549" note="Boots of Avoidance" %}
- {% include wowhead-item.html itemId="870" note="Fiery War Axe" %}
- {% include wowhead-item.html itemId="942" note="Freezing Band" %}
- {% include wowhead-item.html itemId="867" note="Gloves of Holy Might" %}
- {% include wowhead-item.html itemId="2164" note="Gut Ripper" %}
- {% include wowhead-item.html itemId="1981" note="Icemail Jerkin" %}
- {% include wowhead-item.html itemId="1982" note="Nightblade" %}
- {% include wowhead-item.html itemId="873" note="Staff of Jordan" %}
- {% include wowhead-item.html itemId="1204" note="The Green Tower" %}
- {% include wowhead-item.html itemId="1980" note="Underworld Band" %}