- {% include wowhead-item.html itemId="811" note="Axe of the Deep Woods" %}
- {% include wowhead-item.html itemId="809" note="Bloodrazor" %}
- {% include wowhead-item.html itemId="1263" note="Brain Hacker" %}
- {% include wowhead-item.html itemId="14554" note="Cloudkeeper Legplates" %}
- {% include wowhead-item.html itemId="647" note="Destiny" %}
- {% include wowhead-item.html itemId="2099" note="Dwarven Hand Cannon" %}
- {% include wowhead-item.html itemId="14551" note="Edgemaster's Handguards" %}
- {% include wowhead-item.html itemId="944" note="Elemental Mage Staff" %}
- {% include wowhead-item.html itemId="3075" note="Eye of Flame" %}
- {% include wowhead-item.html itemId="812" note="Glowing Brightwood Staff" %}
- {% include wowhead-item.html itemId="810" note="Hammer of the Northern Wind" %}
- {% include wowhead-item.html itemId="2243" note="Hand of Edward the Odd" %}
- {% include wowhead-item.html itemId="2245" note="Helm of Narv" %}
- {% include wowhead-item.html itemId="2824" note="Hurricane" %}
- {% include wowhead-item.html itemId="1443" note="Jeweled Amulet of Cainwyn" %}
- {% include wowhead-item.html itemId="2291" note="Kang the Decapitator" %}
- {% include wowhead-item.html itemId="2244" note="Krol Blade" %}
- {% include wowhead-item.html itemId="1315" note="Lei of Lilies" %}
- {% include wowhead-item.html itemId="833" note="Lifestone" %}
- {% include wowhead-item.html itemId="2246" note="Myrmidon's Signet" %}
- {% include wowhead-item.html itemId="1973" note="Orb of Deception" %}
- {% include wowhead-item.html itemId="2100" note="Precisely Calibrated Boomstick" %}
- {% include wowhead-item.html itemId="940" note="Robes of Insight" %}
- {% include wowhead-item.html itemId="14553" note="Sash of Mercy" %}
- {% include wowhead-item.html itemId="2163" note="Shadowblade" %}
- {% include wowhead-item.html itemId="1168" note="Skullflame Shield" %}
- {% include wowhead-item.html itemId="17007" note="Stonerender Gauntlets" %}
- {% include wowhead-item.html itemId="14552" note="Stockade Pauldrons" %}
- {% include wowhead-item.html itemId="2915" note="Taran Icebreaker" %}
- {% include wowhead-item.html itemId="1979" note="Wall of the Dead" %}
- {% include wowhead-item.html itemId="943" note="Warden Staff" %}
