- {% include wowhead-item.html itemId="14968" note="Glorious Belt" %}
- {% include wowhead-item.html itemId="14974" note="Glorious Bindings" %}
- {% include wowhead-item.html itemId="14966" note="Glorious Breastplate" %}
- {% include wowhead-item.html itemId="14967" note="Glorious Gauntlets" %}
- {% include wowhead-item.html itemId="14969" note="Glorious Headdress" %}
- {% include wowhead-item.html itemId="14970" note="Glorious Legplates" %}
- {% include wowhead-item.html itemId="14972" note="Glorious Sabatons" %}
- {% include wowhead-item.html itemId="14973" note="Glorious Shield" %}
- {% include wowhead-item.html itemId="14971" note="Glorious Shoulder Pads" %}