- {% include wowhead-item.html itemId="14304" note="Bonecaster's Belt" %}
- {% include wowhead-item.html itemId="14301" note="Bonecaster's Bindings" %}
- {% include wowhead-item.html itemId="14299" note="Bonecaster's Boots" %}
- {% include wowhead-item.html itemId="14300" note="Bonecaster's Cape" %}
- {% include wowhead-item.html itemId="14307" note="Bonecaster's Crown" %}
- {% include wowhead-item.html itemId="14302" note="Bonecaster's Gloves" %}
- {% include wowhead-item.html itemId="14305" note="Bonecaster's Sarong" %}
- {% include wowhead-item.html itemId="14303" note="Bonecaster's Shroud" %}
- {% include wowhead-item.html itemId="14298" note="Bonecaster's Spaulders" %}
- {% include wowhead-item.html itemId="15986" note="Bonecaster's Star" %}
- {% include wowhead-item.html itemId="14306" note="Bonecaster's Vest" %}