- {% include wowhead-item.html itemId="14931" note="Heroic Armor" %}
- {% include wowhead-item.html itemId="14938" note="Heroic Bracers" %}
- {% include wowhead-item.html itemId="14933" note="Heroic Gauntlets" %}
- {% include wowhead-item.html itemId="14934" note="Heroic Girdle" %}
- {% include wowhead-item.html itemId="14932" note="Heroic Greaves" %}
- {% include wowhead-item.html itemId="15887" note="Heroic Guard" %}
- {% include wowhead-item.html itemId="14936" note="Heroic Legplates" %}
- {% include wowhead-item.html itemId="14937" note="Heroic Pauldrons" %}
- {% include wowhead-item.html itemId="14935" note="Heroic Skullcap" %}
