- {% include wowhead-item.html itemId="14448" note="Highborne Bracelets" %}
- {% include wowhead-item.html itemId="14450" note="Highborne Cloak" %}
- {% include wowhead-item.html itemId="14454" note="Highborne Cord" %}
- {% include wowhead-item.html itemId="14449" note="Highborne Crown" %}
- {% include wowhead-item.html itemId="14447" note="Highborne Footpads" %}
- {% include wowhead-item.html itemId="14451" note="Highborne Gloves" %}
- {% include wowhead-item.html itemId="14455" note="Highborne Padded Armor" %}
- {% include wowhead-item.html itemId="15119" note="Highborne Pants" %}
- {% include wowhead-item.html itemId="14452" note="Highborne Pauldrons" %}
- {% include wowhead-item.html itemId="14453" note="Highborne Robes" %}
- {% include wowhead-item.html itemId="15967" note="Highborne Star" %}