- {% include wowhead-item.html itemId="10384" note="Hyperion Armor" %}
- {% include wowhead-item.html itemId="10389" note="Hyperion Legplates" %}
- {% include wowhead-item.html itemId="10386" note="Hyperion Gauntlets" %}
- {% include wowhead-item.html itemId="10387" note="Hyperion Girdle" %}
- {% include wowhead-item.html itemId="10385" note="Hyperion Greaves" %}
- {% include wowhead-item.html itemId="10388" note="Hyperion Helm" %}
- {% include wowhead-item.html itemId="10367" note="Hyperion Shield" %}
- {% include wowhead-item.html itemId="10390" note="Hyperion Pauldrons" %}
- {% include wowhead-item.html itemId="10391" note="Hyperion Vambraces" %}
