- {% include wowhead-item.html itemId="10270" note="Masterwork Boots" %}
- {% include wowhead-item.html itemId="10265" note="Masterwork Bracers" %}
- {% include wowhead-item.html itemId="10266" note="Masterwork Breastplate" %}
- {% include wowhead-item.html itemId="10267" note="Masterwork Cape" %}
- {% include wowhead-item.html itemId="10272" note="Masterwork Circlet" %}
- {% include wowhead-item.html itemId="10268" note="Masterwork Gauntlets" %}
- {% include wowhead-item.html itemId="10269" note="Masterwork Girdle" %}
- {% include wowhead-item.html itemId="10273" note="Masterwork Legplates" %}
- {% include wowhead-item.html itemId="10274" note="Masterwork Pauldrons" %}
- {% include wowhead-item.html itemId="10271" note="Masterwork Shield" %}