- {% include wowhead-item.html itemId="8293" note="Traveler's Belt" %}
- {% include wowhead-item.html itemId="8294" note="Traveler's Boots" %}
- {% include wowhead-item.html itemId="8295" note="Traveler's Bracers" %}
- {% include wowhead-item.html itemId="8297" note="Traveler's Cloak" %}
- {% include wowhead-item.html itemId="8298" note="Traveler's Gloves" %}
- {% include wowhead-item.html itemId="8299" note="Traveler's Helm" %}
- {% include wowhead-item.html itemId="8296" note="Traveler's Jerkin" %}
- {% include wowhead-item.html itemId="8300" note="Traveler's Leggings" %}
- {% include wowhead-item.html itemId="8301" note="Traveler's Spaulders" %}

