- {% include wowhead-item.html itemId="14682" note="Indomitable Armguards" %}
- {% include wowhead-item.html itemId="14684" note="Indomitable Belt" %}
- {% include wowhead-item.html itemId="14681" note="Indomitable Boots" %}
- {% include wowhead-item.html itemId="14683" note="Indomitable Cloak" %}
- {% include wowhead-item.html itemId="14688" note="Indomitable Epaulets" %}
- {% include wowhead-item.html itemId="14685" note="Indomitable Gauntlets" %}
- {% include wowhead-item.html itemId="14686" note="Indomitable Headdress" %}
- {% include wowhead-item.html itemId="14687" note="Indomitable Leggings" %}
- {% include wowhead-item.html itemId="14680" note="Indomitable Vest" %}