- {% include wowhead-item.html itemId="15188" note="Grand Armguards" %}
- {% include wowhead-item.html itemId="15191" note="Grand Belt" %}
- {% include wowhead-item.html itemId="15189" note="Grand Boots" %}
- {% include wowhead-item.html itemId="15195" note="Grand Breastplate" %}
- {% include wowhead-item.html itemId="15190" note="Grand Cloak" %}
- {% include wowhead-item.html itemId="15193" note="Grand Crown" %}
- {% include wowhead-item.html itemId="15192" note="Grand Gauntlets" %}
- {% include wowhead-item.html itemId="15194" note="Grand Legguards" %}
- {% include wowhead-item.html itemId="15693" note="Grand Shoulders" %}
