- {% include wowhead-item.html itemId="14918" note="Jade Belt" %}
- {% include wowhead-item.html itemId="14914" note="Jade Bracers" %}
- {% include wowhead-item.html itemId="14915" note="Jade Breastplate" %}
- {% include wowhead-item.html itemId="14919" note="Jade Circlet" %}
- {% include wowhead-item.html itemId="14916" note="Jade Deflector" %}
- {% include wowhead-item.html itemId="14921" note="Jade Epaulets" %}
- {% include wowhead-item.html itemId="14917" note="Jade Gauntlets" %}
- {% include wowhead-item.html itemId="14913" note="Jade Greaves" %}
- {% include wowhead-item.html itemId="14920" note="Jade Legplates" %}