- {% include wowhead-item.html itemId="10156" note="Mercurial Bracers" %}
- {% include wowhead-item.html itemId="10157" note="Mercurial Breastplate" %}
- {% include wowhead-item.html itemId="10160" note="Mercurial Circlet" %}
- {% include wowhead-item.html itemId="10159" note="Mercurial Cloak" %}
- {% include wowhead-item.html itemId="10161" note="Mercurial Gauntlets" %}
- {% include wowhead-item.html itemId="10154" note="Mercurial Girdle" %}
- {% include wowhead-item.html itemId="10155" note="Mercurial Greaves" %}
- {% include wowhead-item.html itemId="10158" note="Mercurial Guard" %}
- {% include wowhead-item.html itemId="10162" note="Mercurial Legguards" %}
- {% include wowhead-item.html itemId="10163" note="Mercurial Pauldrons" %}