- {% include wowhead-item.html itemId="14288" note="Arachnidian Armor" %}
- {% include wowhead-item.html itemId="14291" note="Arachnidian Bracelets" %}
- {% include wowhead-item.html itemId="15985" note="Arachnidian Branch" %}
- {% include wowhead-item.html itemId="14292" note="Arachnidian Cape" %}
- {% include wowhead-item.html itemId="14293" note="Arachnidian Circlet" %}
- {% include wowhead-item.html itemId="14290" note="Arachnidian Footpads" %}
- {% include wowhead-item.html itemId="14289" note="Arachnidian Girdle" %}
- {% include wowhead-item.html itemId="14294" note="Arachnidian Gloves" %}
- {% include wowhead-item.html itemId="14295" note="Arachnidian Legguards" %}
- {% include wowhead-item.html itemId="14296" note="Arachnidian Pauldrons" %}
- {% include wowhead-item.html itemId="14297" note="Arachnidian Robes" %}
